body {
  background-color: rgba(6, 97, 97, 0.267);
  margin: 5px;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

.resume-container {
  background-color: rgba(3, 155, 155, 0.651);
  width: 35%;
  margin: auto;
  padding: 25px;
  display: flex;
  height: 590px;
}

.background-img{
  height: 100vh;
  width: 100%;
}

.left-container{
  background-color: rgb(245, 230, 230);
  border-radius: 50px;
  font-size: 13px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

.profile-pic{
  margin-top: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50% ;
  border: solid black 3px;
  object-fit: cover;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.30s;
}

.profile-pic:hover{
  opacity: 0.7;
}

.profile-pic:active{
  opacity: 0.5;
}

.right-container{
  padding-left: 30px;
  font-size: 13px;
}

.name{
  margin-top: 4px;
}

.aim{
  margin-top: -17px;
}

strong{
  font-size: medium;
}

.contact-heading,
.skills-heading,
.education-heading,
.work-experience-heading,
.career-heading{
  border-bottom: 2px solid black; 
  width: 90%;
}

h1,
h2, 
h3{
  font-family: "Roboto Condensed", sans-serif;
}

a{
  text-decoration: none;
}

button {
  background-color: rgb(1, 129, 129);
  color: black;
  margin-bottom: 7px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  transition: all 0.30s;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

@media(max-width:1084px){
  .resume-container {
    width: 50%;
  }
}

@media(max-width:769px){
  .resume-container {
    width: 60%;
  }
}

@media(max-width:647px){
 .name{
    font-size: 23px;
  }
  .aim{
    margin-top: -15px;
  }
  .personal-info h1,
  .skills h1,
  .education h1,
  .work-experience h1,
  .career h1{
    font-size: large;
    width: 80%;
  }
}

@media(max-width:630px){
  .resume-container{
    width: 75%;
  }
}

@media(max-width:510px){
  p, ul{
    font-size: 11px;
  }
}

@media(max-width:466px){
  .resume-container{
    height: 570px;
    width: 80%;
  }
  .left-container{
    height: 500px;
    margin-left: -10px;
  }
  .right-container{
    padding-left: 12px;
  }
}

@media(max-width:394px){
  p{
    font-size: 10px;
  }
  .resume-container{
    height: 590px;
    width: 80%;
  }
  .profile-pic{
    height: 90px;
    width: 90px;
    margin-left: 2px;
  }
  ul{
    padding-left: 20px;
  }
  button {
   height: 25px;
   font-size: 10px;
   padding: 5px;
  }
}

@media(max-width:343px){
  .resume-container{
    height: 630px;
  }
  .left-container{
    padding: 4px;
  }
  .profile-pic{
    margin-left: 4px;
  }
}
